.user-cont{
    width:500px;
    height: 200px;
    border-radius: 20px;

    /* background-color: rgb(255, 244, 240); */
    /* background-color: red; */

    background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 10px;



    margin:auto;
    margin-top: 50px;
    text-align: center;
}

.beg-cont {
    text-align: center;
    position: relative;
    left:-10px;
    top:30px;
}