.outer-container{
  /* position: relative; */
  /* background-color: red; */
  height:90vh;
  width:100vw;
 
}

.login-cont{
  margin:auto ;
  position: absolute;
  width:600px;
  /* background-color:#f0f0f0; */
/* glass morphism */
background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  border-radius: 10px;
  height:600px;
  top:340px;
  margin-left: 200px;
}

.login-cont-2 {
  margin: auto;
  position: absolute;
  width: 500px;
  /* background-color:#f0f0f0; */
  /* glass morphism */
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  height: 300px;
  top: 340px;
  margin-left: 200px;
  text-align: center;
}

.login-cont-3{

  margin: auto;
    position: absolute;
    width: 500px;
    /* background-color:#f0f0f0; */
    /* glass morphism */
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    height: 200px;
    top: 340px;
    margin-left: 200px;
    text-align: center;

}

.outer-cont {
  /* background-color: aquamarine; */
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.input-cont {
  width: 300px;
  margin-top: -30px;
  height: 20px;
  /* background-color: white; */
  border: 1px black;
  padding: 20px;
  font-size: 1rem;
  font-weight: 800;
}

.input-outer-cont {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
}

.search-btn {
  background-color: orange;
  height: 40px;
  width: 100px;
  margin: auto;
  margin-top: 20px;

}

.search-btn-2 {
  background-color: orange;
  height: 40px;
  width: 100px;
  margin: auto;
  margin-top: 20px;

}

.search-btn-3 {
  background-color: orange;
  height: 40px;
  width: 100px;
  margin: auto;
  margin-top: 70px;

}

.ticket-cont{
  position: relative;
  /* background-color: aqua; */
  background-color: aliceblue;

  /* background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px; */


  border-radius: 20px;
  left:900px;
  height:400px;
  top:-700px;
  /* border:1px 1px 5px black; */
  width:700px;
  text-align: center;
}

.ticket-name{
  position: relative;
  left:-250px;
  font-size: 2rem;
  top:10px;
}

.ticket-src{
  position: relative;
  left:-240px;
}

.ticket-dest {
  position: relative;
  left:220px;
  top:-50px;
}

.ticket-depTime{
  position: relative;
  left:-250px;
  top:-100px;
}

.ticket-arrTime {
  position: relative;
  left: 220px;
  top: -50px;
}

.ticket-date{
  position: relative;
  top:-260px;
  left:220px;
}

.ticket-Qty{
  position: relative;
  top:-120px;
  left:-240px;
}

.ticket-fare{
  position: relative;
  top:-165px;
  
}

.ticket-coachType{
  position: relative;
  top:-220px;
  left:220px;
}

.ticket-status
{
  position: relative;
  top:-220px;
  color: green;
}

.ticket-link{
  position: relative;
  top:-220px;
  width:200px;
  height: 40px;
  background-color: orange;
}

.title-cont{
  position: relative;
  top:-800px;
  margin:auto;
  text-align: center;
  /* background-color: ; */
  background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    height: 150px;
    width:75vw;
    /* top: 140px; */
    /* margin-left: 200px; */
    text-align: center;
}

.title-head{
  color:aliceblue;
  font-size:3rem;
}