.page-cont{
    width:100vw;
    height:120vh;
    background-color: red;
    margin-top: -50px;
}

.ticket-cont{
    background-color: aliceblue;
    position: relative;
    top: 50px;
    width:1000px;
    height: 700px;
    border:1px 1px 5px black;
    border-radius: 10px;
    text-align: center;
    margin-left: 300px;
}

.login-input {
    width: 16vw;
    /* height:45px; */
    height: 40px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 1.2rem;
}

.prop-container {
    text-align: center;
    margin: 10px;
    margin-top: 20px;

}

.loader-spinner{
    position: relative;
    top:100px;
    left:700px;
}


.modify-cont{
    margin:auto;
    background-color: aliceblue;
    position: relative;
    top:100px;
    width:80vw;
}


.train-name {
    position: relative;
    left:-300px;
    font-size: 2rem;
    top: 60px;
}


.train-id{
position: relative;
    left: 230px;
    font-size: 2rem;
    top:-10px;
}

.train-dist{
position: relative;
    top:100px;
}

/* .train-dist{

} */

.train-src{
    position: relative;
        left: -350px;
}

.train-arrTime {
    position: relative;
        left: 350px;
        top:50px;
}

.train-depTime {
position: relative;
    left: -350px;
        top: -10px;
}

.train-dest {
    position: relative;
        left: 350px;
        top:-150px;
}