.outer-cont{
    /* background-color: aquamarine; */
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

.input-cont{
    width:300px;
    margin-top: -30px;
    height: 20px;
    /* background-color: white; */
    border:1px black;
    padding: 20px;
}

.input-outer-cont{
    margin-top: -100px;
display: flex;
flex-direction: column;
}

.search-btn{
    background-color: orange;
    height:40px;
    width:100px;
    margin: auto;
    margin-top: 20px;
    
}

